<div class="row-list" cdkDropList [cdkDropListConnectedTo]="rowsContainer" cdkDropListSortingDisabled>
	@for (row of availableRowsOptions; track $index) {
		<div class="row-option" cdkDrag>
			<p class="row-option_title">
				{{row.title}}
			</p>
		</div>
	}
</div>
<div class="rows-container" cdkDropList cdkDropListGroup #rowsContainer="cdkDropList" (cdkDropListDropped)="dropRow($event)" [cdkDropListData]="selectedRows">
	@for (row of selectedRows; track ri; let ri = $index) {
		<div class="row" cdkDropList cdkDrag cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropCol($event, ri)" [cdkDropListData]="selectedRows[ri].columns">
			@for (col of row.columns; track ci; let ci = $index) {
				<div
					class="col"
					cdkDrag
					[cdkContextMenuTriggerFor]="contextColumns"
					[cdkContextMenuTriggerData]="{rowIndex: ri, colIndex: ci}"
					[ngStyle]="{'background-color': col ? col : ''}"
				></div>
			}
		</div>
	}
</div>

<ng-template #contextColumns let-rowIndex="rowIndex" let-colIndex="colIndex">
	<div class="col-menu" cdkMenu>
		@for (color of availableColumnsOptions; track $index) {
			<button class="col-menu_item" cdkMenuItem (click)="changeCol(rowIndex, colIndex, color)">{{color.title}}</button>
		}
	</div>
</ng-template>
